<section class="page-section {{ section.background_style }}" id="{{ section.section_id }}">
  <div class="container">
    <h2 class="text-center mt-0">{{ section.title }}</h2>
    <hr class="divider my-4">
    <div class="row row-cols-1 row-cols-md-2">
      {% for e in section.events %}
      <div class="col mb-4">
        <div class="card h-100">
          {% if e.img %}
            <img class="card-img-top" src="{{ e.img | relative_url }}" alt="{{ e.img | split: '/' | last }}">
          {% endif %}
          <div class="card-body {{e.card_style}}">
            {% if e.logo %}
              <img src="{{ e.logo | relative_url }}" alt="{{ e.logo | split: '/' | last }}">
            {% endif %}
            <h4 class="card-title">{{ e.title }}</h4>
            {% if e.date %}
              <p class="card-text"><i class="far fa-lg fa-calendar"></i>&nbsp{{ e.date }}</p>
            {% endif %}
            {% if e.place %}
              <p class="card-text"><i class="fa fa-lg fa-map-marker"></i>&nbsp{{ e.place }}</p>
            {% endif %}
            {% if e.format %}
              <p class="card-text"><i class="fa fa-lg fa-clock"></i>&nbsp{{ e.format }}</p>
            {% endif %}
            <p class="card-text">{{ e.text }}</p>
            {% include actions.html actions=e.actions %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
